.header {
    background-color: var(--default);
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header__headline{

}

.header__description{
 
}