<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="utils.css">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="sidebar.css">
    <link rel="stylesheet" href="footer.css">
    <title>Template 1</title>
</head>
<body>
    <header class="header">
        <h1 class="header__headline">My Website</h1>
        <p class="header__description">A website created by me.</p>
    </header>
    <nav class="navbar">
        <div class="navbar__content container">
            <div class="navbar__logo-link">
                <div class="navbar__logo-link">
                    <a href="#">Logo</a>
                </div>
            </div>
            <div class="navbar__links">
                <div class="navbar__link-item">
                    <a href="#">Link</a>
                </div>
                <div class="navbar__link-item">
                    <a href="#">Link</a>
                </div>
                <div class="navbar__link-item">
                    <a href="#">Link</a>
                </div>
            </div>
        </div>
    </nav>
    <main class="main">
        <div class="sidebar">
            <div class="sidebar-about">
                <h2 class="sidebar-about__title">About Me</h2>
                <p class="sidebar-about__subtitle">Photo of me:</p>
                <div class="sidebar-about-img">
                    <img class="sidebar-about-img__img" src="./img/footer_banner.jpg" alt="Alternative text" />
                    <p class="sidebar-about-img__text sidebar-about-img__text_top-left">top-left</p>
                    <p class="sidebar-about-img__text sidebar-about-img__text_top-center">top-center</p>
                    <p class="sidebar-about-img__text sidebar-about-img__text_top-right">top-right</p>
                    <p class="sidebar-about-img__text sidebar-about-img__text_center-left">center-left</p>
                    <p class="sidebar-about-img__text sidebar-about-img__text_center-center">center-center</p>
                    <p class="sidebar-about-img__text sidebar-about-img__text_center-right">center-right</p>
                    <p class="sidebar-about-img__text sidebar-about-img__text_bottom-left">bottom-left</p>
                    <p class="sidebar-about-img__text sidebar-about-img__text_bottom-center">bottom-center</p>
                    <p class="sidebar-about-img__text sidebar-about-img__text_bottom-right">bottom-right</p>
                </div>
                <p class="sidebar-about__description">Some text about me in culpa qui officia deserunt mollit anim..</p>
            </div>
            <div class="sidebar-gellary">
                <h3 class="sidebar-gellary__title">More Text</h3>
                <p class="sidebar-gellary__description">Lorem ipsum dolor sit ame.</p>
                <div class="sidebar-gellary-img">
                    <img class="sidebar-gellary-img__img" src="./img/main_banner.jpg" alt="Alternative text" />
                    <p class="sidebar-gellary-img__text sidebar-gellary-img__text_top-left">top-left</p>
                    <p class="sidebar-gellary-img__text sidebar-gellary-img__text_top-center">top-center</p>
                    <p class="sidebar-gellary-img__text sidebar-gellary-img__text_top-right">top-right</p>
                    <p class="sidebar-gellary-img__text sidebar-gellary-img__text_center-left">center-left</p>
                    <p class="sidebar-gellary-img__text sidebar-gellary-img__text_center-center">center-center</p>
                    <p class="sidebar-gellary-img__text sidebar-gellary-img__text_center-right">center-right</p>
                    <p class="sidebar-gellary-img__text sidebar-gellary-img__text_bottom-left">bottom-left</p>
                    <p class="sidebar-gellary-img__text sidebar-gellary-img__text_bottom-center">bottom-center</p>
                    <p class="sidebar-gellary-img__text sidebar-gellary-img__text_bottom-right">bottom-right</p>
                </div>
            </div> 
        </div>
        <div class="main-content">
            <div class="main-content-block">
                <h2 class="main-content-block__title">Title heading</h2>
                <div class="main-content-block__description">Title description, Dec 7, 2017</div>
                <div class="main-content-block-img">
                    <img class="main-content-block-img__img" src="./img/main_banner.jpg" alt="Alternative text" />
                    <p class="main-content-block-img__text main-content-block-img__text_top-left">top-left</p>
                    <p class="main-content-block-img__text main-content-block-img__text_top-center">top-center</p>
                    <p class="main-content-block-img__text main-content-block-img__text_top-right">top-right</p>
                    <p class="main-content-block-img__text main-content-block-img__text_center-left">center-left</p>
                    <p class="main-content-block-img__text main-content-block-img__text_center-center">center-center</p>
                    <p class="main-content-block-img__text main-content-block-img__text_center-right">center-right</p>
                    <p class="main-content-block-img__text main-content-block-img__text_bottom-left">bottom-left</p>
                    <p class="main-content-block-img__text main-content-block-img__text_bottom-center">bottom-center</p>
                    <p class="main-content-block-img__text main-content-block-img__text_bottom-right">bottom-right</p>
                </div>
                <div class="main-content-block-text">
                    <div class="main-content-block-text__link"><a href="#">Some text..</a></div>
                    <div class="main-content-block-text__description">
                        Sunt in culpa qui officia deserunt mollit anim 
                        id est laborum consectetur adipiscing elit, sed 
                        do eiusmod tempor incididunt ut labore et dolore 
                        magna aliqua. Ut enim ad minim veniam, quis nostrud 
                        exercitation ullamco.
                    </div>
                    <div class="main-content-block-text__link"><a href="#">Some text..</a></div>
                    <div class="main-content-block-text__description">
                        Sunt in culpa qui officia deserunt mollit anim 
                        id est laborum consectetur adipiscing elit, sed 
                        do eiusmod tempor incididunt ut labore et dolore 
                        magna aliqua. Ut enim ad minim veniam, quis nostrud 
                        exercitation ullamco.
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <h2>Footer</h2>
    </footer>
    
</body>
</html>